name: Deploy to Azure AKS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name:  Checkout del c贸digo
        uses: actions/checkout@v3

      - name:  Configurar JDK (Zulu OpenJDK)
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'zulu'

      - name:  Dar permisos de ejecuci贸n a gradlew
        run: chmod +x ./gradlew

      - name:  Construir la aplicaci贸n con Gradle
        run: ./gradlew build -x test

      - name:  Login en Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name:  Login en Azure Container Registry (ACR)
        run: az acr login --name proyectoint

      - name:  Habilitar Docker Buildx
        run: docker buildx create --use

      - name:  Listar archivos de los directorios app-*
        run: |
          for dir in app-*; do
            echo "Archivos en $dir:"
            ls -al $dir
          done

      - name:  Construir y subir im谩genes Docker de microservicios (ARM64)
        run: |
          for dir in app-*; do
            IMAGE_NAME="proyectoint.azurecr.io/$dir:latest"
            echo "Building and pushing $IMAGE_NAME for ARM64"
            docker buildx build --platform linux/arm64 -t $IMAGE_NAME ./$dir --push
          done

      - name:  Construir y subir imagen personalizada de Keycloak (ARM64)
        run: |
          KEYCLOAK_IMAGE="proyectoint.azurecr.io/keycloak-custom:latest"
          echo "Building and pushing $KEYCLOAK_IMAGE for ARM64"
          docker buildx build --platform linux/arm64 -t $KEYCLOAK_IMAGE ./keycloak-custom --push

      - name:  Configurar credenciales de Kubernetes
        run: az aks get-credentials --resource-group ProyectoIntegrador --name clusterProyecto

      - name:  Aplicar configuraci贸n en Kubernetes
        run: kubectl apply -f k8s/
