name: Deploy to Azure AKS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name:  Checkout del c贸digo
        uses: actions/checkout@v3

      - name:  Configurar JDK (Zulu OpenJDK)
        uses: actions/setup-java@v2
        with:
          java-version: '21' #Usar Java 21
          distribution: 'zulu'  # Usar Zulu OpenJDK, compatible con Java 21

      - name:  Dar permisos de ejecuci贸n a gradlew
        run: chmod +x ./gradlew  # Agregar permisos de ejecuci贸n a gradlew

      - name:  Construir la aplicaci贸n con Gradle
        run: ./gradlew build -x test

      - name:  Login en Azure
        uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}
          
      - name:  Login en Azure Container Registry (ACR)
        run: az acr login --name projectint

      - name:  Listar archivos de los directorios app-*
        run: |
          for dir in app-*; do
            echo "Archivos en $dir:"
            ls -al $dir
          done

      - name:  Construir y subir im谩genes Docker de microservicios
        run: |
          for dir in app-*; do
            IMAGE_NAME="projectint.azurecr.io/$dir:latest"
            echo "Building and pushing $IMAGE_NAME"
            docker build -t $IMAGE_NAME ./$dir
            docker push $IMAGE_NAME
          done

      - name:  Construir y subir imagen personalizada de Keycloak
        run: |
          KEYCLOAK_IMAGE="projectint.azurecr.io/keycloak-custom:latest"
          echo "Building and pushing $KEYCLOAK_IMAGE"
          docker build -t $KEYCLOAK_IMAGE ./keycloak-custom
          docker push $KEYCLOAK_IMAGE

      - name:  Configurar credenciales de Kubernetes
        run: az aks get-credentials --resource-group ProyectoIntegrador --name clusterProyecto

      - name:  Aplicar configuraci贸n en Kubernetes
        run: kubectl apply -f k8s/

      - name:  Forzar redeploy de los pods 
        run: kubectl rollout restart deployment --all
