name: Deploy to Azure AKS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name:  Checkout del c贸digo
        uses: actions/checkout@v3

      - name:  Configurar JDK (Zulu OpenJDK)
        uses: actions/setup-java@v2
        with:
          java-version: '21'  # Usar Java 21
          distribution: 'zulu'  # Usar Zulu OpenJDK, compatible con Java 21

      - name:  Dar permisos de ejecuci贸n a gradlew
        run: chmod +x ./gradlew  # Agregar permisos de ejecuci贸n a gradlew

      - name:  Construir la aplicaci贸n con Gradle
        run: ./gradlew build -x test

      - name:  Login en Azure
        uses: azure/login@v1
        with:
          creds: |
            {
                "clientId": "1351cb45-9c18-4f2e-8032-fd6b5d23cee6",
                "clientSecret": "daf8Q~aKOgtKjeSj0YgTrEkMHywTMqAnzUPyEaT_",
                "subscriptionId": "76e4ef62-5d27-415d-bded-a76ee55d19bd",
                "tenantId": "8ca52e2b-1d20-4274-9a13-bd76eccb81d1",
                "activeDirectoryEndpointUrl": "https://login.microsoftonline.com",
                "resourceManagerEndpointUrl": "https://management.azure.com/",
                "activeDirectoryGraphResourceId": "https://graph.windows.net/",
                "sqlManagementEndpointUrl": "https://management.core.windows.net:8443/",
                "galleryEndpointUrl": "https://gallery.azure.com/",
                "managementEndpointUrl": "https://management.core.windows.net/"
            }
            
      - name:  Login en Azure Container Registry (ACR)
        run: az acr login --name proyectoIntegrador

      - name:  Listar archivos de los directorios app-*
        run: |
          for dir in app-*; do
            echo "Archivos en $dir:"
            ls -al $dir
          done

      - name:  Construir y subir im谩genes Docker de microservicios
        run: |
          for dir in app-*; do
            IMAGE_NAME="proyectointegrador.azurecr.io/$dir:latest"
            echo "Building and pushing $IMAGE_NAME"
            docker build -t $IMAGE_NAME ./$dir
            docker push $IMAGE_NAME
          done

      - name:  Construir y subir imagen personalizada de Keycloak
        run: |
          KEYCLOAK_IMAGE="proyectointegrador.azurecr.io/keycloak-custom:latest"
          echo "Building and pushing $KEYCLOAK_IMAGE"
          docker build -t $KEYCLOAK_IMAGE ./keycloak-custom
          docker push $KEYCLOAK_IMAGE

      - name:  Configurar credenciales de Kubernetes
        run: az aks get-credentials --resource-group ProyectoIntegrador --name proyectoCluster

      - name:  Aplicar configuraci贸n en Kubernetes
        run: kubectl apply -f k8s/
